{# {% extends '@IServCore/page.html.twig' %} #}
{# Wir deaktivieren das Layout temporär, um zu sehen, ob PHP funktioniert #}

<h1>DEBUG MODE</h1>

{# {% include '@PulsRSportabzeichen/admin/_tabs.html.twig' ... %} #}
<p>Tabs sind deaktiviert.</p>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Geschlecht</th>
    </tr>
    {% for p in participants %}
        <tr>
            <td>{{ p.nachname }}, {{ p.vorname }}</td>
            <td>{{ p.geschlecht }}</td>
        </tr>
    {% endfor %}
</table>

<p>Wenn du dies siehst, liegt der Fehler im Layout oder in den Tabs, nicht in der Datenbank!</p>