{% set tabs = [
    {
        id: 'exams',
        label: 'Prüfungen',
        route: 'sportabzeichen_results_exams'
    },
    {
        id: 'participants',
        label: 'Teilnehmer',
        route: 'sportabzeichen_results_participants'
    },
    {
        id: 'results',
        label: 'Ergebnisse erfassen',
        route: 'sportabzeichen_results_edit'
    }
] %}

<nav class="nav nav-tabs mb-3">
    {% for tab in tabs %}
        <a class="nav-link {{ activeTab == tab.id ? 'active' : '' }}"
           href="{{ path(tab.route) }}">
            {{ _(tab.label) }}
        </a>
    {% endfor %}
</nav>
