{% extends "@IServCrud/default.html.twig" %}

{% block title %}Neue Leistung{% endblock %}

{% block body %}
<h1>Neue Leistung für {{ ep.participant.vorname }} {{ ep.participant.nachname }}</h1>

<form method="post">

    <div class="mb-3">
        <label class="form-label">Disziplin</label>
        <input type="text" name="disziplin" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Kategorie</label>
        <input type="text" name="kategorie" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Auswahlnummer</label>
        <input type="number" name="auswahlnummer" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Leistung</label>
        <input type="number" step="0.01" name="leistung" class="form-control" required>
    </div>

    <button class="btn btn-success">Speichern</button>
</form>

{% endblock %}
