{% extends "@IServCore/page.html.twig" %}

{% block page_title %} Teilnehmer {% endblock %}

{% block page_content %}
<div class="content">
    <h2 class="mb-4">Teilnehmer</h2>

    <a class="btn btn-primary mb-3"
       href="{{ path('crud_sportabzeichenparticipant_new') }}">
        ➕ Neuer Teilnehmer
    </a>

    <iframe
        src="{{ path('crud_sportabzeichenparticipant_index') }}"
        style="width: 100%; height: 80vh; border: none;">
    </iframe>
</div>
{% endblock %}
